body{
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  font-family: sans-serif;
  background-color: rgb(248, 238, 248);
}
.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  height: 100vh;
  color: black;
  padding: 20px;
  transition: width 0.5s;
}

.sidebar.open {
  width: 50px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
}

.sidebar-header img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 50%;
}
.sidebar-header-name h3{
  font-weight: 600;
}
.sidebar-header-name h5{
  font-weight: 600;
  margin-top: -15px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 10px;
  border-bottom: 1px solid #444;
}

.sidebar-item a {
  color: black;
  text-decoration: none;
  padding: 3px 10px;
  border-radius: 5px;
}

.sidebar-item a:hover {
  background-color: rgba(128, 0, 128, 0.199);
}

.sidebar-item i {
  margin-right: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-sidebar-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toggle-sidebar-btn i {
  font-size: 24px;
  color: #fff;
}

.main {
  padding: 20px;
}

h1, h2 {
  color: #333;
}

p {
  color: #666;
}